<table width="100%" border="1" cellspacing="0" cellpadding="6">
  <tr>
    <th>Keyword</th>
    <th>URL</th>
    <th>POS</th>
    <% @rankings.flat_map {|r| r.competitors}.uniq.each do |c| %>
      <th><%= c %></th>
    <%-end %>
    <th>BST</th>
  </tr>
  <%= render partial: "ranking_row", collection: @rankings %>
</table>
