<table width="100%" border="1" cellspacing="0" cellpadding="6">
  <tr>
    <th>Date</th>
    <th>Domain</th>
    <th>Keyword</th>
    <th>Position</th>
  </tr>
  <%= render partial: "ranking_row", collection: @serps %>
</table>
